

:root{
    --space-cadet: #273469;
    --space-cadet-dark: #1e2749;
    --lavender-blue: #e4d9ff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
    background: var(--space-cadet-dark);
    font-size: 0.85rem;
}

header {
  height: 50px;
  /* color: #fff; */
  background-color: #fff;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  
}

.active {
  text-decoration: underline;
}

.right-bar li:hover {
  transition: 500ms;
  transform: scale(1.25);
}

.top-navbar ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 50px;
  gap: 10px;
  list-style: none;
}

.top-navbar li {
  margin: 0 10px;
  cursor: pointer
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #fff;
  font-size: 1rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.container{
    min-height: 100vh;
    position: relative;
    
}
.divider-wrapper{
  display: flex;
  flex-direction: column;
  
    min-width: 400px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    height: 930px;
}

.divider-wrapper:nth-child(2) {
  /* height: 1000px; */
}
.title{
    background: var(--space-cadet);
    padding: 0.5rem 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.title h1{
    text-align: center;
    color: #fff;
}
.expense-inputs, .expense-output{
    padding: 2rem 2rem;
    max-width: 400px;
}

.transaction-type {
  display: flex;
  gap: 10px;
}
.form-group{
    padding: 0.5rem 0;
}
.form-group label{
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0.2rem;
}
.form-control{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid var(--lavender-blue);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.form-control:focus{
    outline: 0;
    border-color: var(--space-cadet);
}
#calc-btn{
    padding: 0.7rem 2.2rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    display: block;
    margin-top: 0.75rem;
    background:var(--space-cadet-dark);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
#calc-btn:focus{
    outline: 0;
}
#calc-btn:hover{
    background: var(--space-cadet);
}
.text-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0;
}
.text-group h3{
    font-weight: 400;
    opacity: 0.8;
}
.text-group:nth-child(1) h3{
    font-weight: 700;
}
.text-group span{
    font-weight: 600;
}



.transaction-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--space-cadet);
  /* margin: 10px 0; */
  
}

.transaction-details {
  text-align: end;
}

.negative {
  background-color: rgba(255, 0, 0, 0.225);
}

.positive {
  background-color: rgba(87, 199, 87, 0.358);
}

#transaction-container {
  position: relative;
  display: flex;
  flex-direction: column;

}

.transaction-title {
  text-align: center;
}

#transaction-totals {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  padding: 2rem 2rem;
}

